<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="(isHandset | async)!.matches">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Application Title</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary" *ngIf="(isHandset | async)!.matches">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
    <h3>Markers</h3>
    <mat-list dense>
      <mat-list-item *ngFor="let m of markers">{{m.formatted_address}}</mat-list-item>
    </mat-list>
    <h3>HeatMap Points</h3>
    <mat-list dense>
      <mat-list-item *ngFor="let h of heatMapPoints">{{h}}</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
